p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: auto;
    background-color: rgb(255, 160, 160);
    border: 10px groove purple;
    padding: 5px;
    max-width: 600px;
}

li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: auto;
    margin-top: 10px;
    border: 10px solid green;
    width: fit-content;
    padding: 5px;
    list-style-type: none;
}

.link{
    font-size: 20px;
    margin-left: 30px;
}

.disclaimer{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: purple;
}